spring:
  datasource:
    url: jdbc:mysql://localhost:3306/eodi_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: eodi_app
    password: eodi_app_pw
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        jdbc:
          batch_size: 1000
cors:
  allowed-origins:
    - http://localhost:3000